bleach==1.5.0
certifi==2017.11.5
chardet==3.0.4
cycler==0.10.0
enum34==1.1.6
html5lib==0.9999999
idna==2.6
Markdown==2.6.9
matplotlib==2.1.0
numpy==1.13.3
olefile==0.44
Pillow==4.3.0
protobuf==3.4.0
pyparsing==2.2.0
PyQt5==5.9.1
python-dateutil==2.6.1
pytz==2017.3
requests==2.18.4
scipy==1.0.0
selenium==3.7.0
sip==4.19.5
six==1.11.0
tensorflow==1.4.0
tensorflow-gpu==1.4.0
tensorflow-tensorboard==0.4.0rc2
urllib3==1.22
vk==2.0.2
webencodings==0.5.1
Werkzeug==0.12.2
