{% extends "base.html" %}
{% block content %}
<div class="row main">
    <div class="col-md12">
        <h1>
                VKScaner - Lorem ipsum dolor sit amet
        </h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi beatae eveniet consequatur aspernatur error? Ullam dignissimos aperiam id consectetur amet voluptatibus quisquam aspernatur provident. Eos.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius maxime autem libero ducimus iusto blanditiis iste itaque mollitia tempore nihil. Molestias mollitia ipsam omnis, sint architecto error voluptate nam sunt rem, nesciunt ullam dolorum ipsum libero tempore incidunt recusandae quia.
        </p>

        <div class="row carusel text-center">
            <div class="col-md-3 text-center"><img src="img/carusel-1.jpg"></div>
            <div class="col-md-3 text-center"><img src="img/carusel-1.jpg"></div>
            <div class="col-md-3 text-center"><img src="img/carusel-1.jpg"></div>
            <div class="col-md-3 text-center"><img src="img/carusel-1.jpg"></div>
        </div>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, illo, nesciunt! Velit ullam dignissimos laborum eligendi, tenetur, sunt molestias magni fugiat! Explicabo molestias, provident, iusto quidem ullam nemo soluta nobis perferendis non rerum culpa aliquid adipisci illo quod. Iusto placeat modi perspiciatis voluptatum explicabo odio iure repudiandae rerum, quia non inventore magni perferendis commodi suscipit voluptates culpa, omnis amet accusamus recusandae quod cumque.
        </p>

        <div class="row">
            <div class="col-md-12 login-block text-center">
                <a href="https://oauth.vk.com/authorize?client_id=6258947&display=page&scope=6&redirect_uri=https://safe-everglades-40623.herokuapp.com/scaner/login" class="login-vk">
                    Sign with is VK
                </a>
            </div>
        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, illo, nesciunt! Velit ullam dignissimos laborum eligendi, tenetur, sunt molestias magni fugiat! Explicabo molestias, provident, iusto quidem ullam nemo soluta nobis perferendis non rerum culpa aliquid adipisci illo quod. Iusto placeat modi perspiciatis voluptatum explicabo odio iure repudiandae rerum, quia non inventore magni perferendis commodi suscipit voluptates culpa, omnis amet accusamus recusandae quod cumque, in cum doloribus? Aliquid, beatae repellendus deserunt provident illo minus labore doloremque facilis sit! Alias laudantium a labore eius facilis consequatur! Pariatur nemo distinctio delectus eos mollitia enim officiis tempora, dolorum ratione facere vero perferendis adipisci praesentium odio deleniti sunt libero doloribus!</p>
            
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum explicabo earum pariatur fugiat accusantium nostrum iste necessitatibus itaque dolorum deleniti voluptatibus, vero id praesentium debitis ad dicta possimus eum quis labore alias, nulla facere. Mollitia, consequatur dolor vitae. Distinctio necessitatibus possimus, adipisci, quia, laudantium architecto, voluptatum provident officia vitae dignissimos nihil et ipsum consectetur nemo maxime! Expedita nisi optio porro veritatis distinctio ducimus reprehenderit, fuga repellendus aliquid quae sint repudiandae dolore vitae iusto, quo. Reprehenderit.</p>
    </div>
</div>
{% endblock %}
