<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>VKScanner</title>
		{% load static %}
		<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
		<link rel="stylesheet" href="{% static "css/style.css" %}">
	</head>

    <body>
		<div class="container">
			<!-- header -->
			<div class="row header">
					<div class="col-md-6 logo">
						<a href="index.html">
							VKScanner
						</a>
					</div>
					<div class="col-md-6 menu text-center">
						<ul>
							<li>
								<a href="https://oauth.vk.com/authorize?client_id=6258947&display=page&scope=6&redirect_uri=https://safe-everglades-40623.herokuapp.com/scanner/login">Войти</a>
							</li>
							<li>
								<a href="rules.html">Правила</a>
							</li>
							<li>
								<a href="faq.html">FAQ</a>
							</li>
							<li>
								<a href="about.html">О сайте</a>
							</li>
						</ul>
					</div>
			</div>
			<!-- main -->

			{% block content %}{% endblock content %}

			<!-- footer -->
			<div class="row footer">
				<div class="col-md12">
					<p>
						VKScanner (c) 2017, Все права защищены
					</p>
				</div>
			</div>
		</div>
    </body>
</html>