{% extends "base.html" %}

{% block javascript %}
<script>
    function makeChart(){
        $.ajax({
            url: "{% url 'scanner:make_chart' %}",
            dataType: 'html',
            success: function (data) {
                $("img").attr("src", "{% url 'scanner:make_chart' %}");
            }
        }); 
    }
    function nextPhoto(){
        $.ajax({
            url: "{% url 'scanner:scan_photo' %}",
            dataType: 'json',
            success: function (data) {
            if (data.status=="200") {
                $("progress").remove();
                makeChart();
            }
            else
                $("progress").attr("max", data.max).attr("value", data.value);
                nextPhoto();
            }
        });

    }
    nextPhoto();

</script>
{% endblock %}

{% block content %}
<img src="{{chart_src}}" alt="">
<progress></progress>
<p></p>
{% endblock %}